/*----------ARTICULO------------*/
body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #F6F9FD
    ;
}
.back a{
    text-decoration: none;
    color: #144a80;
    margin: 10px;
}
.artPrd{
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}
.imgProduct{
    flex-grow: 4;
    display: flex;
    justify-content: center;
}

.imgProduct img{
    top: 0;
    float: left;
    width:90%;
}
.linea{
    height: 400px;
    display: block;
    border: 0.2px solid gray;
    margin: auto;
}
.prdDesc{
    flex-grow: 1;
    padding: 10px;
    width: 480px;
    position: relative;
}
#precio{
    color: #111111;
    position: absolute;
    right: 0;
}
.prdDesc h2{
    color: #111111;
    font-size: 1.1rem;
    margin: 0;
}
.prdDesc #modelo{
    color: rgba(0, 0, 0, 0.51);

}
.prdDesc p{
    color: #6C73C6;
    font-size: 0.85rem;
}
.artPrd .prdDesc ul li{
    text-decoration: none;
    list-style: none;
}

.prdBtn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.footerDesc{
    display: flex;
}
.footFormDesc{
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 5px;
}

.btnQ:first-child{
    border: 1px solid #6672FB;
    color:#6672FB;
    align-items: center;
text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.btnQ{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}

.btnQ:last-child{
    background:  #6672FB;
    color:#fff;
    align-items: center;
text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.inpQ{
    width: 40px;
    height: 35px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
}

.quantity{
    display: flex;
    gap: 5px;
}

@media screen and (max-width: 800px){
    .artPrd img{
        width: 24em;
    }
    .linea{
        display: none;
    }
    
}
@media screen and (max-width: 500px){
    .artPrd img{
        width: 100%;
    }
}
.prdBtn{
    position: block;
    margin: auto;
    width: 150px;
    height: 45px;
    cursor: pointer;
}

.prdBtn a{
    font-size: 0.8rem;
}

.footFormDesc{
    position: block;
    margin-left: 20px;
    display: flex;
    gap: 5px;
}

div.art_art{
    width: 100%;
}

h3{
    color: #1b5998;
}
h3 span{
    text-decoration: line-through;
    color: #FE9870;
    margin-left: 15px;
}
.art_section{
    justify-content: space-between;
    left: 0;
    align-items: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
}
.art_section::-webkit-scrollbar {
    -webkit-appearance: none;
}

.art_section::-webkit-scrollbar:vertical {
    width:10px;
}

.art_section::-webkit-scrollbar-button:increment,.contearts.art_section::-webkit-scrollbar-button {
    display: none;
} 

.art_section::-webkit-scrollbar:horizontal {
    height: 10px;
}

.art_section::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.art_section::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.art_articulo{
    margin: 10px;
    width: 220px;
    height: 325px;
    border: 2px solid #E5E5E5;
    padding: 5px;
}

.art_articulo img{
    width: 200px;
}
.art_desc h4 a{
  text-decoration: none;
  font-size: 1.1em;
  color: #1b5998;
}
.art_desc h5 span{
    text-decoration: line-through;
    color: #FE9870;
    margin-left: 15px;
}

.art_desc h4 a:hover{
  color: #144a80;
}
.art_desc h5{
    font-size: 1em;
    
}
@media screen and (max-width:600px) {
        .art_articulo img{
        width: 100px;
    }

    .art_section{
        overflow-x: auto;
        
    }
  .art_articulo img{
      width: 200px;
  }
  .art_desc h2 a{
      font-size: 0.2em;
  }
  .art_desc h4 a{
    text-decoration: none;
    font-size: 1em;
    color: #1b5998;
  }
  .art_desc h5{

    font-size: 0.8em;
}
}
@media screen and (max-width:300px) {
    .art_articulo img{
        width: 100px;
    }
}
    .footFormDesc{
        flex-direction: column;
    }
.tit_pro{
    margin-left:10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.tit_pro hr{
    margin-left: 10px;
    width: 70%;
}

.comprar{
    width: 100%;
    height: 40px;
    background-color: #FE9870;
    border: 0px ;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
.comprar:hover{
    background-color: #eb6f3e;
}